<ul>
    <li><a href="{{url_for('test_data')}}">Generar datos</a></li>
    <li><a href="{{url_for('get_instituciones')}}">Instituciones (Se agregan los campos Dirección en Google Maps y nombre abreviado)</a></li>
    <li><a href="{{url_for('get_usuarios')}}">Usuarios</a></li>
    <li><a href="{{url_for('get_proyectos')}}">Proyectos</a></li>
    <li><a href="{{url_for('get_institucion', id = 1)}}">Proyectos de la Institucion</a></li>
    <li><a href="{{url_for('get_usuario', rut = '123456789-0')}}">Proyectos de Usuario</a></li>
    <li><a href="{{url_for('get_tiempo_proyectos')}}">Proyectos con tiempo de termino</a></li>
    
</ul>